%html
  %body
    #header
      .intro
        Code path is
        %span#codepath= @codepath
    #stats
      #call_count
        Call count:
        %span.value= @call_count
    #invocations
      - @trace.each do |i|
        .invocation
          .method_name= i.method_name
          .path=        i.path
          .start_line=  i.start_line
          .exit_line=   i.exit_line
          .return_value=i.return_value