%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/scss/main.scss"}
  %body
    #header
      .intro
        Code path is
        %span#codepath= @codepath
    #stats
      #call_count
        Call count:
        %span.value= @call_count
    #invocations
      - @trace.each do |i|
        .invocation
          .header
            %b Method:
            %span.method_name
              &= i.method_name
          %pre.body
            .path=        i.path
            .start_line=  i.start_line
            .exit_line=   i.exit_line
          .footer
            %b Returned:
            %span.return_value
              &=i.return_value
