.invocation
  .header
    %b Method:
    %span.method_name
      = invocation.method_name
    %b Path:
    %span.path= invocation.path
  %pre.body
    .start_line=  invocation.start_line
    .exit_line=   invocation.exit_line
  .footer
    %b Returned:
    %span.return_value
      = invocation.return_value
  .children
    - invocation.children.each do |inv|
      != haml :invocation, locals: {invocation: inv}
